--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torch_geometric==2.5.3
networkit==11.0
matplotlib==3.9.0
scikit-learn-intelex=2024.4.0
pandas==2.2.2
pydantic==2.8.2
dgl==2.2.1+cu121
pyyaml==6.0.1
